<div class="container-fluid">
  <div class="row">
    <h1 class="display-2 text-center fw-normal" style="color: #031059">
      Users
    </h1>
    <button
      type="button"
      class="btn btn-primary"
      (click)="showModal = true"
      data-toggle="modal"
      data-target="#myModal"
    >
      click me
    </button>
    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" (click)="openModel()">
      Launch static backdrop modal
    </button> -->
    <div class="offset-md-2 col-md-8">
      <form [formGroup]="usersForm">
        <div class="card" style="background: #2c3d73">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <label for="location" class="form-label text-light"
                  >Location</label
                >
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  formControlName="location"
                  (change)="onChangeLocation($event.target.value)"
                >
                  <option
                    [value]="location.HospitalId"
                    *ngFor="let location of locations"
                  >
                    {{ location.Name }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="department" class="form-label text-light"
                  >Department</label
                >
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  formControlName="department"
                  (change)="onChangeDepartment($event.target.value)"
                >
                  <option
                    [value]="department.DepartmentId"
                    *ngFor="let department of departments"
                  >
                    {{ department.Name }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="status" class="form-label text-light">Status</label>
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  formControlName="status"
                  (change)="onChangeStatus($event.target.value)"
                >
                  <option value="0">Active</option>
                  <option value="1">Inactive</option>
                </select>
              </div>
              <div class="col">
                <label for="" class="form-label text-light">Create user</label>
                <button
                  class="btn btn-light btn-modify"
                  (click)="onCreateUsers()"
                >
                  Create User
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- users list Table -->
  <div class="row mt-4">
    <div class="table-responsive">
      <table class="table table-special">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">User role</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1 }}</th>

            <td>{{ user.username }}</td>
            <td>{{ user.roles[0].role.name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.hospital.Name }}</td>
            <td>{{ user.department.Name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                class="btn btn-hover"
                title="Edit"
                (click)="onEditUsersTable()"
              >
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  edit
                </span>
              </button>
              <button
                class="btn btn-hover"
                title="delete"
                (click)="onDeleteUsersTable(user.user_id, user.username)"
              >
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  delete
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- -------------------------MODAL START------------------------------ -->
      <div
        class="modal fade"
        id="myModal"
        tabindex="1"
        aria-hidden="true"
        [ngClass]="{ show: showModal }"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Modal Heading</h3>
              <button
                type="button"
                class="close"
                (click)="showModal = false"
                data-dismiss="modal"
              >
                X
              </button>
            </div>
            <div class="modal-body">Modal Body</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        class="modal fade modal-backdrop"
        data-backdrop="false"
        id="myModals"
        tabindex="-1"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div> -->

      <!-- ---------------------MODAL ENDS--------------------------- -->
    </div>
  </div>
</div>
