<div class="container-fluid">
  <div class="row">
    <h1 class="display-2 text-center fw-normal" style="color: #031059">
      Users
    </h1>

    <!-- ------------------------------btn-------------------------------- -->
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#myModal"
    >
      Launch demo modal
    </button>

    <!-- -----------------------------btn/------------------ -->

    <div class="offset-md-2 col-md-8">
      <form [formGroup]="usersForm">
        <div class="card" style="background: #2c3d73">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <label for="location" class="form-label text-light"
                  >Location</label
                >
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  formControlName="location"
                  (change)="onChangeLocation($event.target.value)"
                >
                  <option
                    [value]="location.HospitalId"
                    *ngFor="let location of locations"
                  >
                    {{ location.Name }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="department" class="form-label text-light"
                  >Department</label
                >
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  formControlName="department"
                  (change)="onChangeDepartment($event.target.value)"
                >
                  <option
                    [value]="department.DepartmentId"
                    *ngFor="let department of departments"
                  >
                    {{ department.Name }}
                  </option>
                </select>
              </div>
              <div class="col">
                <label for="status" class="form-label text-light">Status</label>
                <select
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  formControlName="status"
                  (change)="onChangeStatus($event.target.value)"
                >
                  <option value="0">Active</option>
                  <option value="1">Inactive</option>
                </select>
              </div>
              <div class="col">
                <label for="" class="form-label text-light">Create user</label>
                <button
                  class="btn btn-light btn-modify"
                  (click)="onCreateUsers()"
                >
                  Create User
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- users list Table -->
  <div class="row mt-4">
    <div class="table-responsive">
      <table class="table table-special">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">User role</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Department</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1 }}</th>

            <td>{{ user.username }}</td>
            <td>{{ user.roles[0].role.name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.hospital.Name }}</td>
            <td>{{ user.department.Name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                class="btn btn-hover"
                title="Edit"
                (click)="onEditUsersTable()"
              >
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  edit
                </span>
              </button>
              <button
                class="btn btn-hover"
                title="delete"
                (click)="onDeleteUsersTable(user.user_id, user.username)"
              >
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  delete
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- -------------------------MODAL START------------------------------ -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Heading</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------MODAL ENDS--------------------------- -->
</div>
