<div class="container-fluid">
  <!-- add survey btn -->
  <div class="row margin">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <button
        class="btn float-end"
        (click)="onAddSurvey()"
        style="background: #2c3d73; color: white"
      >
        Add new Survey
      </button>
    </div>
  </div>

  <!-- add survey btn end -->

  <!--  survey select box -->
  <div class="row mt-3">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <div class="card" style="background: #2c3d73; color: white">
        <form [formGroup]="surveyForm">
          <div class="card-body">
            <div class="row">
              <!-- select boxes -->
              <div class="col-4">
                <label for="location" class="form-label text-light"
                  >Location</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="surveyLocation"
                  (change)="onChangeSurveyLocation($event.target.value)"
                >
                  <option
                    [value]="location.HospitalId"
                    *ngFor="let location of locations"
                  >
                    {{ location.Name }}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <label for="location" class="form-label text-light"
                  >Department</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="surveyDepartment"
                  (change)="onChangeSurveyDepartment($event.target.value)"
                >
                  <option
                    [value]="department.DepartmentId"
                    *ngFor="let department of departments"
                  >
                    {{ department.Name }}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <label for="location" class="form-label text-light"
                  >Survey Type</label
                >
                <select
                  class="form-select"
                  aria-label="Default select example"
                  formControlName="surveyType"
                  (change)="onChangeSurveyType($event.target.value)"
                >
                  <option [value]="type.id" *ngFor="let type of types">
                    {{ type.name }}
                  </option>
                </select>
                <!-- select boxes end -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- survey table -->
  <div class="row mt-4">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <table class="table">
        <thead style="background: #2c3d73; color: white">
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let survey of surveys; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ survey.name }}</td>
            <td>{{ survey.hospital.Name }}</td>
            <td>{{ survey.department.Name }}</td>
            <!-- <td>
              <div>
                <button class="btn btn-hover">
                  <span
                    class="material-symbols-outlined"
                    style="color: #2c3d73"
                  >
                    edit
                  </span>
                </button>
              </div>
              <div>
                <button class="btn btn-hover">
                  <span
                    class="material-symbols-outlined"
                    style="color: #2c3d73"
                  >
                    delete
                  </span>
                </button>
              </div>
              <div>
                <button class="btn btn-hover">
                  <span
                    class="material-symbols-outlined"
                    style="color: #2c3d73"
                  >
                    settings
                  </span>
                </button>
              </div>
            </td> -->

            <td class="text-center">
              <button class="btn btn-hover" title="Edit">
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  edit
                </span>
              </button>
              <button class="btn btn-hover" title="delete">
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  delete
                </span>
              </button>
              <button
                class="btn btn-hover"
                (click)="onSurveySettings()"
                title="settings"
              >
                <span
                  class="material-symbols-outlined btn-icon"
                  style="color: #2c3d73"
                >
                  settings
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- survey table end -->

  <!-- settings table -->
</div>
