.cardCentering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .imgHide {
    display: none;
  }
  .card-height {
    margin-top: 20px !important;
  }
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red !important;
}
