<div class="container">
  <div class="row">
    <div class="col-6 offset-3 mt-5">
      <div class="alert alert-danger" *ngIf="error">
        <p class="text-center">{{ error }}</p>
      </div>
    </div>
    <app-loading-spinner
      class="text-center"
      *ngIf="isLoading"
    ></app-loading-spinner>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="col-md-6">
      <h3 class="text-center text-primary mt-5 fw-bolder">Survey App</h3>
      <img
        src="../../assets/login.png"
        class="img-fluid imgHide"
        alt="loginPic"
      />
    </div>
    <div class="col-md-6 cardCentering card-height">
      <div class="card" style="width: 25rem">
        <img src="../../assets/loginimg.svg" class="card-img-top" alt="..." />
        <div class="card-body">
          <form
            #authForm="ngForm"
            [formGroup]="signinForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="username"
                class="form-control"
                formControlName="username"
              />

              <span
                *ngIf="
                  !signinForm.get('username').valid &&
                  signinForm.get('username').touched
                "
                class="help-block"
              >
                <span *ngIf="signinForm.get('username').errors['required']"
                  >This field is required</span
                >
              </span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >

              <input
                type="password"
                class="form-control"
                formControlName="password"
              />

              <span
                *ngIf="
                  !signinForm.get('password').valid &&
                  signinForm.get('password').touched
                "
                class="help-block"
              >
                <span *ngIf="signinForm.get('password').errors['required']"
                  >Password is required</span
                >
              </span>
            </div>
            <div class="d-grid gap-2">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!authForm.valid"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
