<div class="container-fluid">
  <div class="row">
    <h1 class="display-2 text-center fw-normal" style="color: #031059">
      Dash Board
    </h1>
    <h4 class="text-center text-danger">Time & date</h4>
  </div>
  <!-- -------------------------------bootstrap Cards--------------------------------  -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div
        class="card h-100"
        style="border: 1px solid #4e4e7a; border-radius: 6px"
      >
        <div class="card-body">
          <h3 class="card-title text-center" style="color: #4e4e7a">
            Questions
          </h3>
          <p class="card-text text-center">Question Count</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card h-100"
        style="border: 1px solid #4e4e7a; border-radius: 6px"
      >
        <div class="card-body">
          <h3 class="card-title text-center" style="color: #4e4e7a">Surveys</h3>
          <p class="card-text text-center">Surveys Count</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div
        class="card h-100"
        style="border: 1px solid #4e4e7a; border-radius: 6px"
      >
        <div class="card-body">
          <h3 class="card-title text-center" style="color: #4e4e7a">Users</h3>
          <p class="card-text text-center">Users Count</p>
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------------------bootstrap Cards end--------------------------------  -->
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <img
        class="img-fluid"
        style="height: 350px; width: 700px"
        src="../../assets/dashboardimg.png"
        alt=""
      />
    </div>
  </div>
</div>
