@media (max-width: 360px) {
  .content {
    margin: 0px !important;
    padding: 24px !important;
  }
}
.tab {
  background: #2c3d73;
  color: white;
  width: 100%;
}

.tab-active {
  background: white;
  color: #2c3d73;
  width: 100%;
  border: solid 1px #2c3d73;
}
