<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <table class="table">
        <thead style="background: #2c3d73; color: white">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Assigned survey</th>
            <th scope="col">Question type</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button class="btn btn-warning">Edit</button>
              <button class="btn btn-danger m-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
