@media (max-width: 576px) {
  .content {
    margin: 0px !important;
    padding: 20px !important;
  }
}

@media (max-width: 360px) {
  .content {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.active {
  background: white;
  color: #2c3d73;
}

/* logout btn */
.btn-style {
  border: none;
  color: white;
}

.btn-style:hover {
  color: red;
}
