mat-toolbar {
  background: #031059;
  color: #f2f2f2;
  
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #2c3d73;
  color: #f2f2f2;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 20px;
  margin: 16px;
  padding: 6px;
  margin-left: 32px;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

// ---------------------------sidebar button ------

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

// /* Color Theme Swatches in Hex */
// .Chainalysis-Corporate-website-1-hex { color: #031059; }
// .Chainalysis-Corporate-website-2-hex { color: #2C3D73; }
// .Chainalysis-Corporate-website-3-hex { color: #F24405; }
// .Chainalysis-Corporate-website-4-hex { color: #F2836B; }
// .Chainalysis-Corporate-website-5-hex { color: #F2F2F2; }

// /* Color Theme Swatches in RGBA */
// .Chainalysis-Corporate-website-1-rgba { color: rgba(2, 15, 89, 1); }
// .Chainalysis-Corporate-website-2-rgba { color: rgba(43, 61, 114, 1); }
// .Chainalysis-Corporate-website-3-rgba { color: rgba(242, 68, 4, 1); }
// .Chainalysis-Corporate-website-4-rgba { color: rgba(242, 131, 106, 1); }
// .Chainalysis-Corporate-website-5-rgba { color: rgba(242, 242, 242, 1); }

// /* Color Theme Swatches in HSLA */
// .Chainalysis-Corporate-website-1-hsla { color: hsla(230, 94, 18, 1); }
// .Chainalysis-Corporate-website-2-hsla { color: hsla(225, 44, 31, 1); }
// .Chainalysis-Corporate-website-3-hsla { color: hsla(16, 96, 48, 1); }
// .Chainalysis-Corporate-website-4-hsla { color: hsla(11, 84, 68, 1); }
// .Chainalysis-Corporate-website-5-hsla { color: hsla(0, 0, 95, 1); }
